@font-face {
  font-family: "wingdings";
  src: url(fonts/wingdings.ttf);
}
@font-face {
  font-family: "wingdings3";
  src: url(fonts/wingdings3.ttf);
}
body{
    
}
a{
    color: black;
    font-family: "helvetica";
    text-decoration: none;
}
a:hover{
    opacity:15%;
    transition: opacity 200ms;
}
span:hover{
    font-family: "wingdings";
    
}
p{
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.pages{
/*
    width: 100vw;
    height: 200vh;
*/
    overflow-x: hidden;
    overflow-y:scroll;
}
.container{
    display:block;
    margin-right: 5vw;
    overflow: hidden
}
.random-text{
    font-family: "helvetica-light";
    font-size: 12pt;
    text-align: center;
    width: 102vw;
    height: 102vh;
    white-space: nowrap;
    overflow: hidden;
    position:absolute;
    top:-1vh;
    bottom:-1vh;
    left: -1vw;
    letter-spacing: -.2pt;
}
.wingdings{
    font-family: "wingdings";
    font-size: 12pt;
    left: -5vw;
    bottom:-5vh;
    width: 106vw;
    height: 106vh;
}
.wingdings3{
    font-family: "wingdings3";
    font-size: 12pt;
    left: -5vw;
/*    bottom:-5vh;*/
    width: 106vw;
    height: 102vh;
}
.big-text{
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    font-family: "Helvetica";
    font-size: 100pt;
    position: absolute;
/*    left: 104vw;*/
    width: 100vw;
    height: 20vh;
    opacity: 15%;
    top: 102vh;

}
.story{
    overflow: scroll;
    font-size: 12pt;
    font-family: "helvetica-light";
    position: absolute;
    height: 65vh;
    width: 60vw;
    left:8vw;
    top: 124vh;
    text-indent: 2vw;
    letter-spacing:-.01em;
}
.circles{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    width: 10vw;
    height: 45vh;
/*    left: 163vw;*/
    left: 80vw;
    margin-top: 134vh;
}
.visited{
    background-color: black;
    opacity: 15%;
    border-radius: 50%;
    width: 22px;
    height: 22px;
}
.open{
    background-color: transparent;
    border: 2px solid black;
    opacity: 15%;
    border-radius: 50%;
    width: 18px;
    height: 18px;
}
#slow-text{
    animation: loop-anim 60s linear infinite;
    text-transform: lowercase;
}
#fast-text{
    animation: loop-anim 20s linear infinite;
}
#back{
    top: 100vh;
}
#next{
    top: 190vh;
    height: 17vh;   
}
#title{
    overflow: hidden;
    height: 60vh;
}
.btn{
    color: black;
    display: inline;
    background-color: transparent;
    border: none;
    font-family: "helvetica-light";
    font-size: 12pt;
    padding: none;
}
.btn:hover{
    opacity:15%;
    transition: opacity 150ms;
}
#hint-desk{
    display: none;
}

@keyframes loop-anim {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -60% /* This works because of the div between "outer" and "loop" */
    }
}
@keyframes page-slide {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -60%
    }
}
@media screen and (min-width: 600px){
    
}
@media screen and (min-width: 800px){
    .pages{overflow-x: scroll;
    overflow-y:hidden; width:175vw;}
    .big-text{left: 104vw; width:75vw; height: 20vh;}
    .circles{ left: 163vw;
    margin-top: 28vh;}
    .story{left:104vw; top: 18vh; width: 54vw;}
    #title{height: 70vh}
    #next{top: 84vh}
    #back{top: -3vh}
    #hint-desk{display: inherit}
    #hint-mobile{display: none}
}
@media screen and (min-width: 1000px){
    
}
