}
body{
    width: 100vw;
    height: 100vh;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    opacity:15%;
    transition: opacity 200ms;
}
span:hover{
    font-family: "wingdings";
    
}
p{
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.pages{
    width: 175vw;
    overflow-y: hidden;
}
.container{
    display:inline-block;
    margin-right: 5vw;
}
.random-text{
    font-family: "helvetica-light";
    font-size: 12pt;
    text-align: center;
    width: 102vw;
    height: 102vh;
    white-space: nowrap;
    overflow: hidden;
    position:absolute;
    top:-1vh;
    bottom:-1vh;
    left: -1vw;
    letter-spacing: -.2pt;
}
.wingdings{
    font-family: "wingdings";
    font-size: 12pt;
    left: -5vw;
    bottom:-5vh;
    width: 106vw;
    height: 106vh;
}
.wingdings3{
    font-family: "wingdings3";
    font-size: 12pt;
    left: -5vw;
    bottom:-5vh;
    width: 106vw;
    height: 106vh;
}
.big-text{
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    font-family: "Helvetica";
    font-size: 100pt;
    position: absolute;
    left: 104vw;
    width: 75vw;
    height: 20vh;
    opacity: 15%;

}
.story{
    overflow: scroll;
    font-size: 12pt;
    font-family: "helvetica-light";
    position: absolute;
    height: 68vh;
    width:53vw;
    left:104vw;
    top: 18vh;
    text-indent: 2vw;
    letter-spacing:-.01em;
}
.circles{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    width: 10vw;
    height: 45vh;
    left: 163vw;
    margin-top: 24vh;
}
.visited{
    background-color: black;
    opacity: 15%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.open{
    background-color: transparent;
    border: 1px solid black;
    opacity: 15%;
    border-radius: 50%;
    width: 18px;
    height: 18px;
}
#slow-text{
    animation: loop-anim 60s linear infinite;
    text-transform: lowercase;
}
#fast-text{
    animation: loop-anim 20s linear infinite;
}
#back{
    top: -3vh;
}
#next{
    top: 84vh;
    height: 17vh;   
}
#title{
    height: 70vh;
}
.btn{
    display: inline;
    background-color: transparent;
    border: none;
    font-family: "helvetica-light";
    font-size: 12pt;
    padding: none;
    transition: .03s;
}
.btn:hover{
    opacity:15%;
    transition: opacity 150ms;
}

@keyframes loop-anim {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -60% /* This works because of the div between "outer" and "loop" */
    }
}
@keyframes page-slide {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -60% /* This works because of the div between "outer" and "loop" */
    }
}
@media screen and (max-width:700px){
    .story{font-size:10pt; top:15vh; height: 71vh}
    .random-text{font-size:11pt}
    .btn{font-size:11pt}
    .big-text{font-size:90pt}
    .wingdings{font-size:11pt}
    .wingdings3{font-size:11pt}
}