@font-face {
  font-family: "wingdings";
  src: url(fonts/wingdings.ttf);
 src: url(fonts/wingdings.woff) format('woff'), 
       url(fonts/wingdings.woff2) format('woff2');
}
@font-face {
  font-family: "wingdings3";
  src: url(fonts/wingdings3.ttf);       
  src: url(fonts/wingdings3.woff) format('woff'),       
       url(fonts/wingdings2.woff2) format('woff2');
}
body{

}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    opacity:15%;
    filter: blur(1px);
    transition: all 200ms ease;
}
span:hover{
    font-family: "wingdings";
    
}
p{
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.pages{
/*
    width: 100vw;
    height: 200vh;
*/
    overflow-x: hidden;
    overflow-y:scroll;
}
.container{
    display:block;
    margin-right: 5vw;
    overflow: hidden;
}
.random-text{
    font-family: "helvetica-light";
    font-size: 12pt;
    text-align: center;
    width: 102vw;
    height: 106vh;
    white-space: nowrap;
    overflow: hidden;
    position:absolute;
    top:-5vh;
/*    bottom:-1vh;*/
    left: -1vw;
    letter-spacing: -.2pt;
}
.wingdings{
    font-family: "wingdings";
    font-size: 12pt;
    left: -5vw;
    bottom:-5vh;
    width: 106vw;
    height: 106vh;
}
.wingdings3{
    font-family: "wingdings3";
    font-size: 12pt;
    left: -5vw;
/*    bottom:-5vh;*/
    width: 106vw;
    height: 102vh;
}
.big-text{
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    font-family: "Helvetica";
    font-size: 80pt;
    position: absolute;
/*    left: 104vw;*/
    width: 100vw;
    height: 16vh;
    opacity: 10%;
    top: 102vh;
/*    animation: big-text 30s linear;*/

}
.story{
    overflow: scroll;
    font-size: 11pt;
    font-family: "helvetica-light";
    position: absolute;
    height: 65vh;
    width: 70vw;
    left:6vw;
    top: 118vh;
    text-indent: 2vw;
    letter-spacing:-.01em;
}
.circles{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    width: 10vw;
    height: 45vh;
/*    left: 163vw;*/
    left: 84vw;
    margin-top: 128vh;
}
.visited{
    background-color: black;
    opacity: 10%;
    border-radius: 50%;
    width: 22px;
    height: 22px;
}
.open{
    background-color: transparent;
    border: 2px solid black;
    opacity: 10%;
    border-radius: 50%;
    width: 18px;
    height: 18px;
}
#welcome{
    letter-spacing: -1pt;
    white-space: nowrap;
    overflow: hidden;
    position: fixed;
    background-color: transparent;
    font-size: 110pt;
/*    line-height: 200pt;*/
    font-family:"helvetica";
    margin: 0vh 1vw 0vh 0vw;
    opacity: 0%;
    animation: welcome 16s ease-in, welcome-blur 16s ease-in, welcome-scroll1 16s linear;
    top: 60vh;
}
#blur{
    animation: page-blur 17s ease-in;
}
#slow-text{
    animation: loop-anim 60s linear infinite;
    text-transform: lowercase;
    top
}
#fast-text{
    animation: loop-anim 20s linear infinite;
}
#back{
    top: 100vh;
}
#next{
    top: 185vh;
    height: 17vh;   
}
#title{
    height: 62vh;
}
.btn{
    color: black;
    display: inline;
    background-color: transparent;
    border: none;
    font-family: "helvetica-light";
    font-size: 12pt;
    padding: 0px 0px 0px 0px;
}
.btn:hover{
    opacity:15%;
    filter: blur(1px);
    transition: all 200ms ease;
}
#hint-desk{
    display: none;
}
/*
@keyframes big-text{
    0% {
        padding-left: 0%;
    }
    100% {
        padding-left: -60%;
    }
}
*/
@keyframes loop-anim {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -60%
    }
}
@keyframes welcome {
    0% {
        opacity: 100%;
    }
    75% {
        opacity: 90%
    }
    100% {
        opacity: 0%;
    }
}
@keyframes welcome-blur {
    0% {
        filter:blur(0px);
    }
    75% {
        filter:blur(3px)
    }
    100% {
        filter:blur(10px);
    }
}
@keyframes welcome-scroll1 {
    0% {
        margin-left: 50%;
    }
    100% {
        margin-left: -925%;
    }
}
@keyframes welcome-scroll2 {
    0% {
        margin-left: 50%;
    }
    100% {
        margin-left: -600%;
    }
}
@keyframes welcome-scroll3 {
    0% {
        margin-left: 50%;
    }
    100% {
        margin-left: -500%;
    }
}
@keyframes page-blur {
    0% {
        filter:blur(4px);
    }
    100% {
        filter:blur(0px);
    }
}
@keyframes page-slide {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -60%
    }
}
@media screen and (min-width: 600px){
    
}
@media screen and (min-width: 800px){
    .random-text{top: -1vh;}
    .pages{overflow-x: scroll;
    overflow-y:hidden; width:175vw;}
    .big-text{left: 104vw; width:75vw; height: 20vh;}
    .circles{ left: 163vw;
    margin-top: 28vh;}
    .story{font-size: 12pt; left:104vw; top: 18vh; width: 54vw;}
    #title{height: 70vh}
    #next{top: 84vh}
    #back{top: -3vh}
    #hint-desk{display: inherit}
    #hint-mobile{display: none}
    #welcome{font-size: 140pt; animation: welcome 16s ease-in, welcome-blur 16s ease-in, welcome-scroll2 16s linear;}
}
@media screen and (min-width: 1000px){
    #blur{animation: page-blur 20s ease-in;}
    #welcome{font-size: 180pt; animation: welcome 17s ease-in, welcome-blur 17s ease-in, welcome-scroll3 17s linear;}
}
